# ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____
DATABASE_URL=postgresql://cromoo_user:ewpKEGP7nX0sdpOdCeP50CG2MfDyyCcr@dpg-cqmfk888fa8c73ci8keg-a.oregon-postgres.render.com/cromoo
SESSION_ID=GuruBot~Vubp0RNV
REMOVEBG_KEY=
PREFIX=?
MODE=private
autoRead=false
statusview=false
