
DATABASE_URL=postgresql://guru_souf_user:Bz0ds10MFYAII5VYs9Qx8plpP5kTHlci@dpg-cqn1hro8fa8c73ak117g-a.oregon-postgres.render.com/guru_souf
SESSION_ID=
REMOVEBG_KEY=
PREFIX=?
MODE=private
autoRead=false
statusview=false
